
#notice {
    margin: 50px auto;
    /* background: url(../img/bg-1.jpg); */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #notice .col-md-6 {
    padding: 0;
  }
  
  /* main notice */
  
  .notice-main {
    background-color: #fff;
  }
  
  .notice-content {
    overflow: auto;
    height: 400px;
    font-size: 10px;
    padding: 30px 20px;
  }
  
  .notice-content li {
    font-size: 12px;
    background: rgba(246, 246, 246, 0.6);
    padding: 10px 10px 10px 15px;
  }
  
  .left-section-notice {
    box-shadow: 0 2px 5px #333;
    margin-top: 15px;
  }
  
  .right-section-enquiry {
    box-shadow: 0 2px 12px #fff;
    /* animation: tofro 1s infinite ease-in-out; */
  }
  
  @keyframes tofro {
    0% {
      border-left: none;
    }
  
    50% {
      border-left: 1px solid green;
    }
  
    100% {
      border-left: none;
    }
  }
  
  .form {
    background-color: #f2f3f4;
    padding: 26px 5px 12px 5px;
  }
  
  .enquiry-form {
    padding: 10px 20px 25px 20px;
  }
  
  .notice-heading h4 {
    /* text-align: center; */
    font-size: 45px;
    /* background: var(--third-color); */
    font-weight: 400;
    padding: 10px;
  }
  
  .notice-heading i {
    color: #067802;
    font-size: 65px;
    font-weight: 200;
  }
  
  .form-title-sitemap h4 {
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    /* background: var(--secondary-color); */
    /* padding: 8px; */
    padding: 8px 0 8px 20px;
  }

  .enquiry :hover {
    color: #fff;
    background: var(--hover-color);
  }
  