/* ----------------Counter Section Css End------------ */

#facilities {
    margin: 50px auto;
    background-image: url("/public/images/facility.jpg"), linear-gradient(to right, rgba(154, 138, 138, 0.065), rgba(94, 94, 61, 0.087));
    background-attachment: fixed;
    color: #fff;
  }
  
  .main-facilities {
    background: rgba(235, 235, 48, 0.6);
    padding: 40px 0;
  }
  
  .facilities-left {
    /* border-right: 1px solid #eee; */
    margin-top: 100px;
  }
  
  .facilities-title h4 {
    font-size: 45px;
    font-weight: 500;
  }
  
  .facilities-box {
    /* border: 2px solid #eee; */
    margin-bottom: 30px;
    position: relative;
    box-shadow: 0 5px 15px #333;
    background: #fff;
    color: #333;
  }
  
  .facilities-box:hover i {
    color: #fff;
  }
  
  #facilities .overlay {
    position: absolute;
    top: 0;
    right: 0;
    transition: all .3s ease-in-out;
  }
  
  .facilities-btn i {
    font-size: 35px;
  }
  
  .facilities-btn {
    opacity: 0;
  }
  
  /* 
  .facilities-box:hover .overlay {
      height: 100% !important;
  } */
  
  .facilities-right .facilities-box:hover {
    /* background-color: #f0aa00; */
    background-color: #003d69;
    color: #fff;
  }
  
  .facilities-right .col-md-4:nth-child(2):hover .facilities-box {
    background-color: #003d69;
    color: #fff;
  }
  
  .facilities-right .col-md-4:nth-child(3):hover .facilities-box {
    /* background-color: green; */
    background-color: #003d69;
    color: #fff;
  }
  
  .facilities-right .col-md-4:nth-child(4):hover .facilities-box {
    /* background-color: green; */
    background-color: #003d69;
    color: #fff;
  }
  
  .facilities-right .col-md-4:nth-child(5):hover .facilities-box {
    /* background-color: #003d69; */
    background-color: #003d69;
    color: #fff;
  }
  
  .facilities-right .col-md-4:nth-child(6):hover .facilities-box {
    /* background-color: #f0aa00; */
    background-color: #003d69;
    color: #fff;
  }
  
  .facilities-heading {
    /* display: flex; */
    margin-bottom: 20px;
  }
  
  .facilities-heading h5 {
    font-size: 28px;
    font-weight: 500;
    text-align: center;
  }
  
  /* 
  .inner-icon i{
      font-size: 40px;
      margin-top: -6px;
      background: #fff;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      padding: 15px;
      color: var(--forth-color);
  }  */
  
  .facilities-heading i {
    margin-right: 10px;
    font-size: 70px;
    /* margin-top: -6px; */
    /* background: #fff; */
    /* width: 50px;
      height: 50px;
      border-radius: 50%; */
    padding: 15px;
    color: var(--primary-color);
    display: grid;
    place-items: center;
  }
  
  .facilities-content {
    padding: 20px 10px;
    text-align: center;
  }
  
  /* 
  .facilities-box:hover {
      opacity: 0.5;
  } */
  
  .facilities-box:hover .facilities-btn {
    opacity: 1;
  }
  
  .facilities-btn a {
    background: #fff;
    color: #333;
    padding: 5px 20px;
  }
  
  .facilities-btn a:hover {
    background: var(--hover-color);
    color: #333;
    padding: 5px 20px;
  }