.gallery-wrap {
    position: relative;
    background: url(/public/images/home/h3.jpg) no-repeat top;
    background-size: auto;
    background-size: cover;
    color: white;
}

.gallery_box {
    display: table;
    height: 100%;
}

.gallery_left {
    display: table-cell;
    vertical-align: middle;
}


.gallery-wrap .gallery-title {
    margin-bottom: 20px;
    position: relative;
}

.gallery-wrap .gallery-title h2 {
    font-size: 48px;
    color: #56225e;
    margin: 0;
    font-weight: bold;
}

.readmore {
    margin-top: 30px;
}

.readmore a {
    text-decoration: none;
    font-size: 18px;
    background: rgb(45, 160, 198);
    text-transform: uppercase;
    border-radius: 40px;
    font-weight: bold;
    display: inline-block;
    padding: 12px 38px;
    color: white;
}

.galleryImg {
    margin: 15px 0;
    position: relative;
}