#notice {
    margin: 50px auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.notice-main {
    background-color: #fff;
}

.notice-content {
    overflow: auto;
    height: 400px;
    font-size: 10px;
    padding: 30px 20px;
}

.notice-content li {
    font-size: 12px;
    background: rgba(246, 246, 246, 0.6);
    padding: 10px 10px 10px 15px;
}

.left-section-notice {
    box-shadow: 0 2px 5px #333;
    margin-top: 15px;
}

.right-section-enquiry {
    box-shadow: 0 2px 12px #fff;
}


.notice-heading h4 {
    padding: 10px;
}

.notice-heading i {
    font-size: 65px;
    font-weight: 200;
}