
.slider-main .carousel-caption h5 {
	font-size: 75px;
	font-weight: 600;
	margin: 15px 0 35px 0;
	font-family: 'Saira', sans-serif !important;
	letter-spacing: 0;
	line-height: 80px;
  }
  
  /* 
  .slider-main .carousel-caption span {
	  color: var(--forth-color);
	  font-family: 'Saira', sans-serif !important;
  } */
  
  .slider-main .carousel-caption p {
	font-size: 16px;
	font-family: 'Saira', sans-serif !important;
	margin-bottom: 45px;
	margin-top: 20px;
  }
  
  .slider-top-heading {
	font-size: 45px;
	font-weight: 700;
  }
  
  .slider-main .carousel-caption .img-icon {
	margin-right: 5px;
	width: 40px;
  }
  
  .carousel-caption {
	top: 25%;
  }
  
  .carousel-caption a {
	background: var(--primary-color);
	padding: 10px 30px;
	font-size: 22px;
	font-weight: 500;
	color: #fff;
	transition: transform .3s ease;
	font-family: 'Saira', sans-serif !important;
  }
  
  .carousel-caption a:hover {
	background: var(--hover-color);
	color: #fff;
	transform: translateY(-20%);
  }

  
  /* ==========BODY=========== */
 

  /* image styling */
  /* Set a fixed height for the images */
.images{
	height: 200px;
	object-fit: cover;
	width: 100%; 
  }

  .content {
	/* max-width: 800px; */
	margin: 0 auto;
	padding: 20px;
	font-family: Arial, sans-serif;
	line-height: 1.6;
}
  
  /* Maintain aspect ratio and prevent image distortion */
  
  .bodyInfra{
	margin: 5px auto;
    /* background-image: url("../../public/imgInfra/bcg2.jpg"); */
    background-attachment: fixed;
    /* color: #fff; */
  }

  /* .infrasub{
	background: rgba(235, 235, 48, 0.6);
    padding: 40px 0;
  } */