/* Career.css */

/* Style for the Career section heading */
.headi {
    font-size: 2.5rem;
    color:black;
    margin-bottom: 1rem;
    text-align: center;
  }

  /* Style for the Career section paragraph text */
  .career p .text-justify {
    line-height: 1.8;
    color: black;
    font-size: 17px;
  }

  .box{
   text-align: center 
   ;
  }
  
  /* Style for the Apply Now button */
  .career .position-relative button.btn-primary {
    background-color: #3b035d;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .career .row {
    border:2px;
    border-radius: 4px;
    box-shadow: #3b035d;
    padding: 6px;
  }
  
  /* Style for the Career section images */
  .career img {
    max-width: 100%;
  }

  .career section.position-relative {
    
    background-color: #f9f9f9;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  